<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRCBar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IRCBar.Properties.Settings>
            <setting name="WidgetHeight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PreferredNickname" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="DockPosition" serializeAs="String">
                <value>Top</value>
            </setting>
        </IRCBar.Properties.Settings>
    </userSettings>
</configuration>